body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/assets/3d-background-with-hexagonal-shapes-texture.jpg');
    background-size: cover;
    background-position: center;    
    position: relative;
    color: black;
    text-align: center;
}

.main-content {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.app-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.app-message {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
    color: white;
    text-align: center;
}

.button-main-page-container {
    display: flex;
    justify-content: space-between;
}

.button-main-page {
    width: 48%;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease; 
}

.login-button-main-page {
    background-color: #007BFF;
    color: white;
}

.register-button-main-page {
    background-color: #28A745;
    color: white;
}

.button-main-page:hover {
    transform: translateY(-2px) scale(1.05);
    color: black;
    font-size: 1.25em; 
    font-weight: bold; 
}

.login-button-main-page:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 15px rgba(0, 86, 179, 0.5);
}

.register-button-main-page:hover {
    background-color: #218838;
    box-shadow: 0 8px 15px rgba(34, 139, 34, 0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
